<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/StyleSheet.css" rel="stylesheet" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <header>
        <div class="topPanel">
            <ul class="navbar-nav flex-grow-1">
                <li>@Html.ActionLink("Home", "Index", "Home")</li>
                <li>@Html.ActionLink("About", "About", "Home")</li>
                <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                <li>@Html.ActionLink("Customer", "Index", "Customer")</li>

            </ul>
        </div>
    </header>
    <div class="mainPanel">
        @RenderBody()
    </div>
    <footer>
        <div class="downPanel">
            <h2>Its a footer</h2>
        </div>
    </footer>
</body>
</html>
